* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --footer-color:rgb(40,41,41);
  --background-top: #090b12;
  --background-container:rgb(21,24,34);

}

.debug{
  background-color: rgba(64, 198, 153, 0.826);
  border:1px solid black
}

main , footer {
  font-family: Arial, Helvetica, sans-serif;
}

/*********************** UTILITY ***********************/

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/*** altezze ***/
.h100 {
  height: 100%;
}

.h80 {
  height: 80px;
}

.h90 {
  height:90px
}

/*** larghezze ***/
.w30 {
  width: 30px;
}

.w100 {
  width: 100%;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}


/*** padding ***/
.pl10 {
  padding-left: 10px;
}

.p12 {
  padding:12px;
}

.pl20 {
  padding-left: 20px;
}

.pb35{
  padding-bottom: 35px;
}

.pb20{
  padding-bottom: 20px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pt40{
  padding-top: 40px;
}

.pt20 {
  padding-top: 20px;
}

.pt5 {
  padding-top: 5px;
}

.gap {
  gap:10px
}


/* margin */
.ml0 {
  margin-left: 0px;
}

.ml5 {
  margin-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb10{
  margin-bottom: 10px;
}

/*** font-size ***/
.h2-45 {
  font-size: 45px;
}

.p23 {
  font-size: 23px;
}

.h6-16 {
  font-size: 16px;
}

/*** font-style ***/
.bold {
  font-weight: bold;
}

/***color ***/
.white{
  color: white;
}

.gray {
  color:rgb(118,120,124);
}



/*** position ***/

.text-cen {
  text-align: center;
}


/***************** MAIN ***********************/

/*** button ***/

.top {
  position: relative;
  opacity: .8;
  position: sticky;
}

.button {
  position: absolute;
  right: 10px;
  text-decoration: none;
  border: 1.5px solid white;
  color: white;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 15px;
  bottom: 30px;
}


.container {
  height: calc(100vh - 90px);
  background-color:var(--background-container);
}

.content {
  overflow: auto;
  width: calc(100% - 250px);
}

.library {
 height: calc(100% - 80px);
 overflow: auto;
}

.top {
  background-color: var(--background-top);
}


/*** Library ***/
.library ul li a img {
  width: 130px;
}

.fav{
  display: none;
}


.plus {
  background-color:rgb(118,120,124);
}

.name a {
  text-decoration: none;
}

.name a img {
  vertical-align: middle;
}

.profile {
  background-color: rgb(118,120,124);
  border-radius: 50%;
  vertical-align: middle;
}

.name h6 {
  vertical-align: middle;
  font-size: 15px;
  display: inline;
}

.label {
  vertical-align: middle;
}

.library img {
  vertical-align: middle;
}

/*** LIST ***/
ul li {
  list-style: none;
  margin-top:20px;
  margin-bottom: 20px;
}

ul {
  justify-content: center;
}


ul li a {
  text-decoration: none;
  margin: 10px;
}





/************* CARD *************/
.card {
  width: calc(100% / 6 - 10px);
}

.card img {
  width: 100%;
}

.border {
  border-radius: 50%;
}

/*********************** FOOTER ***********************/
footer {
  min-height: 90px;
  background-color: var(--footer-color);
}

.music {
  width: 250px;
}

.playbar {
  width: calc(100% - 500px);
}

.music img {
  height: 40px;
  vertical-align: middle;
}

.music h6 {
  vertical-align: middle;
  font-size: 15px;
}

.graybar {
  font-size: 2px;
  width:60%;
  border-radius:20px;
  color: rgb(118,120,124);
  margin-top: 50px;
  margin-left: 20% ;
  margin-right: 20% ;
}

.gray-bar {
  font-size: 2px;
  width:20%;
  border-radius:20px;
  color: white;
  margin-top: 50px;
  margin-left: 20% ;
  margin-right: 20% 
}

